@{
    ViewData["Title"] = "Home Page";

    var homepageMessage = ViewData["HomepageMessage"] as string;
}

@if (!string.IsNullOrEmpty(homepageMessage))
{
    <div class="alert alert-info text-center" role="alert">@homepageMessage</div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
