@model UncAds.Models.CategoryAttribute

<h2>Usuń atrybut</h2>

<h4>Czy na pewno chcesz usunąć ten atrybut?</h4>

<dl class="row">
    <dt class="col-sm-2">Nazwa</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Kategoria</dt>
    <dd class="col-sm-10">@Model.Category.Name</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
